<select name="formationTypeId" class="formation-select">
    <option value="">— изберете формация —</option>
    {#for tf in formations}
    <option value="{tf.id}">{tf.type.displayLabel}</option>
    {/for}
    <option value="new">— добави нова формация —</option>
</select>
<select name="newFormationType" class="new-formation-select" hidden>
    <option value="">— изберете тип —</option>
    {#for ft in formationTypes}
    <option value="{ft.name()}">{ft.displayLabel}</option>
    {/for}
</select>
